@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');

/* Variables */

$color-light: #fff;
$color-dark: #444;
// $color-light-1: rgb(230, 241, 250);

$font-logo: 'Sacramento', cursive;
$font-header: 'Oswald', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: lighten($color-dark, 70%);
  font-family: $font-text;
  color: $color-dark;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: $font-header;
  font-weight: 600;

  span {
    text-transform: none;
    font-weight: 400;
    color: lighten($color-dark, 20%);
  }
}

/* Layout */

.wrapper {
  display: flex;
  // margin-left: 10px;
}

.sidebar {
  flex: 1 0 0;
}

.sidebar, .posts {
  background: $color-light;
  margin-right: 30px;
  padding: 30px 50px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(186, 186, 186, 0.196);
}

/* Logo */

.logo {
  font-family: $font-logo;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
}

/* Lists */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  a{
    position: relative;
    color: $color-dark;
    text-decoration: none;
    transition: .2s;

    &:hover{
      font-weight: bold;
    }

    &::before{
      content: '';
      position: absolute;
      height: 1px;
      width: 100%;
      bottom: -2%;
      left: 0;
      background-color: $color-dark;
      transform: scale(0);
      transition: transform .3s;
      transform-origin: left;
    }

    &:hover::before{
      transform: scale(1);
    }

  }

  .active {
    font-weight: bold;
    letter-spacing: 2px;
  }
}

.list-horizontal {
  li {
    display: inline-block;
  }
}

/* Authors */

.authors {
  li {
    margin-bottom: 12px;
  }

}

/* Post */
.posts{
  flex: 3 0 0;
  position: relative;
  height: 600px;
}

.post {
  position: absolute;
  opacity: 0;
  width: 75%;
  height: 85%;
  overflow-y: scroll;

  &::-webkit-scrollbar{
    display: none;
  }

  &.active {
    opacity: 1;
    transition: opacity 1s;
  }
}

.post-author {
  font-style: italic;
}

.post-tags {
  display: flex;
  
  p {
    margin: 0 10px 0 0;
  }
}
