@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');

/* ------------------------------------------Variables */

$color-light: #fff;
$color-dark: #444;
// $color-light-1: rgb(230, 241, 250);

$padding-x: 50px;
$padding-y: 50px;

$font-logo: 'Sacramento', cursive;
$font-header: 'Oswald', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

/* ------------------------------------------Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: lighten($color-dark, 70%);
  font-family: $font-text;
  color: $color-dark;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  text-decoration: none;

  h2{
    font-size: 22px;
    text-transform: uppercase;
    font-family: $font-header;
    font-weight: 600;
    color: $color-dark;
  }
}

/* -----------------------------------------Layout */

.wrapper {
  display: flex;
}

.sidebar {
  flex: 1 0 0;
}

.sidebar, .posts {
  background: $color-light;
  margin-right: 30px;
  padding: $padding-y $padding-x;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(186, 186, 186, 0.196);
}

.tag-size-1 span{
  font-size: 100%;
  color: lighten($color-dark, 40%);
}
.tag-size-2 span{
  font-size: 120%;
  color: lighten($color-dark, 30%);
}
.tag-size-3 span{
  font-size: 140%;
  color: lighten($color-dark, 20%);
}
.tag-size-4 span{
  font-size: 180%;
  color: lighten($color-dark, 10%);
}
.tag-size-5 span{
  font-size: 180%;
  line-height: 1;
  color: darken($color-dark, 10%);
}

/* ----------------------------------------Logo */

.logo {
  font-family: $font-logo;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
}

/* ------------------------------------------Lists */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li{
    display: flex;
    align-items: center;
  }

  a{
    position: relative;
    color: $color-dark;
    text-decoration: none;
    transition: .2s;

    &:hover{
      font-weight: bold;
      z-index: 10;
    }
  }

  .active {
    font-weight: bold;
    letter-spacing: 2px;
  }
}

.titles a::before{
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: -2%;
  left: 0;
  background-color: $color-dark;
  transform: scale(0);
  transition: transform .3s;
  transform-origin: left;
}

.titles a:hover::before{
  transform: scale(1);
}

.list-horizontal {
  display: flex;
  align-items: center;

  li {
    margin-left: 10px;
  }
}

.list.tags li{
  &::before{
    display: none;
  }
}

/* -----------------------------------Authors */

.authors{
  li {
    margin-bottom: 12px;
  }
}

/* -----------------------------------Post */

.posts{
  flex: 3 0 0;
  position: relative;
  min-height: 500px;
  height: auto;
  // max-height: 600px;
}

.post{
  position: absolute;
  opacity: 0;
  left: $padding-x;
  right: $padding-x;
  top: $padding-y;
  bottom: $padding-y;
  overflow-y: scroll;

  &::-webkit-scrollbar{
    display: none;
  }

  &.active {
    opacity: 1;
    transition: opacity 1s;
    z-index: 1;
  }
}

.post-title{
  padding-top: 0;
  margin-top: 0;
}

.post-author {
  font-style: italic;

  a{
    display: inline-block;
    text-decoration: none;
    color: $color-dark;
    transition: .5s;
  }

  .active {
    font-weight: bold;
    letter-spacing: 2px;
    margin-left: 10px;
  }
}

.post-tags {
  display: flex;

  span {
    margin: 0 10px 0 0;
  }
}

// --------------------------------------MEDIA

@media (0 < width < 900px) {
  .wrapper{
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0;

    ul{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      li{
        position: relative;
        margin-right: 10px;
        margin-left: 10px;

        &::before{
          content: '';
          position: absolute;
          width: 2px;
          height: 60%;
          right: -10px;
          bottom: 0;
          transform: translateY(-40%);
          background-color: lighten($color: $color-dark, $amount: 60);
        }
      }
    }
  }

  .posts{
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
  }
}
